<header>
    <h1><a href="/">Spacetagram</a></h1>

    <a class="skip-to-content-link" href="#content">
        Skip to Content
    </a>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/liked">Liked</a></li>
        </ul>
    </nav>
</header>