<%- include('./includes/head') %>

<body>
    <%- include('./includes/header') %>

    <main class="container" id="content">
        <h2 style="margin: 0 auto 0 auto;">We think you might be lost</h2>
        <img style="display: block; height: 100%; max-width: auto; padding: 20px" src="images/404.png" alt="404 page">
        <h2 style="margin: 0 auto 0 auto;">Lets head <a style="text-decoration: none;" href="/">back</a> together</h2>
    </main>

</body>
<%- include('./includes/footer') %>
</html>