<%- include('./includes/head') %>

<body>
    <%- include('./includes/header') %>
    <main class="container" id="content">
    </main>
</body>
<%- include('./includes/footer') %>
<script src="javascripts/index.js"></script>
</html>