<%- include('./includes/head') %>

<body>
    <%- include('./includes/header') %>
    <main class="container" id="content" date="<%= date %>">
    </main>
</body>
<%- include('./includes/footer') %>
<script src="javascripts/page.js"></script>
</html>